<!DOCTYPE html>
<html>
<head>
	<title>Vue In Broswer</title>
	<script type="text/javascript" src="vue.min.js"></script>
</head>
<body>
	<div id="app">
		<h1>{{message}}</h1>

		<img v-bind:src="img" alt="">
		<p v-if="error">Error!</p>
		<p v-else>No Error1</p>
		<ul>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ul>

		<button v-on:click="reverseMessage">Reverse Message</button>

		<form>
			<label>Name:</label>
			<input type="text" name="name" v-model=username>
			<p>{{username}}</p>
		</form>
	</div>

	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data:{
				message: 'Hello Vue!',
				img:'../photo/2.jpg',
				error:false,
				todos: [
				{ text:'Learn Javasript'},
				{ text:'Learn Vue'},
				{ text:'Build Something awesome'}
				],
				username:''
			},
			methods:{
				reverseMessage(){
					this.message=this.message.split('').reverse().join('')
				}
			}
		})
	</script>

</body>
</html>